.test {
    height: 60vh;
    color: #fff;
    line-height: 160px;
    text-align: center;
    background: #364d79;
}

.test-2 {
  display: flex;
  flex-flow: column;
  height: fit-content;
}

.ant-carousel {
  width: 100vw;
  max-width: 1160px;
}