@import 'antd/dist/antd.css';

.app {
  background-color: #282c34;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.app-layout {
  min-height: 100vh !important;
  width: 90vw;
  max-width: 1160px;
  margin: 0 16px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;

  .app-layout-top {
    width: 100vw;
    max-width: 1160px;
    flex: 1;
    display: flex;
    flex-flow: column;
    .ant-layout-header {
      background: transparent !important;
      padding: 0 !important;
      color: white;

      .ant-menu > li {
        flex-grow: 1 !important;
        text-align: center;
      }
    }
    .ant-layout-content {
      margin: 0 20px;
      flex: 1;
      display: flex;
      flex-flow: row;
      justify-content: center;
    }
    .ant-layout-content-child {
      margin: 0 !important;
      flex: 1;
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
    }
  }

  .app-layout-bottom {
    .ant-layout-footer {
      width: 100vw;
      max-width: 1160px;
      background: #ffffff !important;
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}

.ant-layout {
  background: transparent !important;
}

.loader-container {
  align-self: center;
}
